.card {
  width: 250px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.heading-img {
  max-width: 250px;
  max-height: 200px;
  border-radius: 5px;
}
.body{
  margin:10px;
}
.name {
  font-weight: bold;
}
.rupee{
    max-width: 15px;
    max-height: 15px;
    margin-top: -5px;
}
.price {
  font-size:20px;
  font-weight: bold;
  color: blueviolet;
}
.addCart {
  text-decoration:none;
  background-color: lightgreen;
  padding:3px 10px;
  border-radius:5px;
  color: black;
}
#addCart{
  margin:10px;
}